
body {
    background-color: #F8EAD8;
    color: #A7727D;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 3% 15%;
}
/* Navigation Bar */

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: 900;
}

.navbar {
    padding: 2% 0 5%;
}

.navbar-nav {
    margin: 0 10% 0 0;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

/* Title */

h1 {
    font-size: 4.3rem;
    font-weight: 900;
    width: 85%;

}

p {
    font-weight: 100;

}

img {
    margin: 4rem 0 0;
}

.row {
    margin-top: 2rem;
}

.right-section {
    position: relative;
}

.icon-1 {
    position: absolute;
    font-size: 8rem;
}

.icon-2 {
    position: absolute;
    font-size: 8rem;
    left: 15rem;
}

.icon-3 {
    position: absolute;
    font-size: 8rem;
    top: 12rem;
    left: 2rem;
}

.icon-4 {
    position: absolute;
    font-size: 8rem;
    left: 12rem;
    top: 12rem;
}

.icon-5 {
    position: absolute;
    font-size:8rem;
    left: 6rem;
    top: 22rem;
}

.icon-6 {
    position: absolute;
    font-size: 8rem;
    left: 20rem;
    top: 22rem;
}

.icon-7 {
    position: absolute;
    font-size: 8rem;
    left: 24rem;
    top: 10rem;
}

.icon-8 {
    position: absolute;
    font-size: 8rem;
    left: 26rem;
}
