
body {
    background-color: #EEEEEE;
    color: #3A98B9;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 3% 15%;
}
/* Navigation Bar */

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    color: #146C94;
    font-weight: 900;
}

.navbar-brand:hover {
    color: #146C94;
}

.navbar {
    padding: 2% 0 5%;
}

.navbar-nav {
    margin: 0 10% 0 0;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

/* Title */

h1 {
    font-size: 4.5rem;
    font-weight: 900;
    width: 90%;
    margin: 10px 0 0 10px;

}

p {
    font-weight: 100;

}

img {
    margin: 4rem 0 0;
}

.row {
    margin-top: 2rem;
}

.right-section {
    position: relative;
}

.icon-1 {
    position: absolute;
    font-size: 8rem;
    top: 2rem;
}

.icon-2 {
    position: absolute;
    font-size: 8rem;
    left: 17rem;
    top: 2rem;
}

.icon-3 {
    position: absolute;
    font-size: 8rem;
    top: 13rem;
    left: 2rem;
}

.icon-4 {
    position: absolute;
    font-size: 8rem;
    left: 15rem;
    top: 14rem;
}

.icon-5 {
    position: absolute;
    font-size:8rem;
    left: 6rem;
    top: 25rem;
}

.icon-6 {
    position: absolute;
    font-size: 8rem;
    left: 22rem;
    top: 25rem;
}

.icon-7 {
    position: absolute;
    font-size: 8rem;
    left: 28rem;
    top: 13rem;
}

.icon-8 {
    position: absolute;
    font-size: 8rem;
    left: 30rem;
    top: 2rem;
}
