
body {
    background-color: #EEEEEE;
    color: #3A98B9;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 3% 15%;
}

p {
    margin-top: -5px;
}
/* Navigation Bar */

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    color: #146C94;
    font-weight: 900;
}

.navbar-brand:hover {
    color: #146C94;
}

.navbar {
    padding: 2% 0 2%;
}

.navbar-nav {
    margin: 0 10% 0 0;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

/* Form */

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 4rem;
}

.check-group {
    text-align: center;
}

.gender {
    margin: 0 1rem 0 ;
}

.form-control {
    border-color: #3A98B9;
}

.sign{
    text-decoration: none;
    color: #3A98B9;
}

p {
    text-align: center;
}

.buttons {
    justify-content: center;
}